@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500&display=swap');
body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  background-color: #fff;
  color: #555;
}

a{
  color:#555;
  margin:0.5em;
}
h1 {
  margin-top: 2em;
  text-align: center;
  font-weight: normal;
  font-size: 2em;
  color:#555;
}

main {
  width: 100%;
  margin-top: 20px;
}

.loading {
  font-size: 1.7em;
  text-align: center;
  margin: 3em auto;
}

.loading i {
  padding-left: 1em;
  padding-right: 1em;
}

.loading div.japanese {
  text-align: center;
  padding: 0;
  margin: 0 auto;
}

.loading div.English {
  text-align: center;
  padding: 0;
  font-size: 0.5em;
  margin: 0 auto;
}

.boxes {
  box-sizing: border-box;
  border: solid 0.2em #ddd;
  margin: 20px auto;
  border-radius: 1em;
  background-color: #fff;
  min-height: 3em;
  width: 90%;
}

.title2 {
  padding-top: 0.7em;
  padding-left: 1.5em;
}

nobr {
  margin-top: 10em;
  font-size: 1.5em;
}

.dates {
  border-bottom: solid 1px #111;
}

.tenki {
  vertical-align: top;
  height: 1em;
}

.names {
  line-height: 1.5em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 1em;
  font-size: 1.5em;
  display: flex;
  flex-wrap: wrap;
}

.manager {
  padding:2em;
}

.News {
  position: fixed;
  top: 0;
  ledt: 0;
  width: 100%;
  height: 2em;
  margin: 0;
  background: #fff;
  border-bottom: 1px solid #ccc
}
.news-banner__content2{
  display: inline-block;
  color: #000;
  line-height: 1.5em;
  font-size: 1.4em;
  //margin-top:10px;
  padding-left: 0.2em;
  white-space: nowrap;

}
.news-banner__content {
  padding-left: 100%;
  animation: animate-banner 20s linear infinite;
}

.news-banner__content>p {
  margin: 0;
}
.news-banner__content2>p {
  margin: 0;
}

/* バナー内の要素をすべて選択 */
.news-banner__content>* {

  display: inline-block;
}

/* 横にスクロールさせるアニメーション */
@keyframes animate-banner {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@media screen and (min-width:600px) {
  main {
    margin: 0 auto;
    width: 600px;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #181a1b;
    color: #877d6e;
  }
  a{
    color:#877d6e;
  }
  h1{
    color:#877d6e;
  }
  .boxes{
    color:#3a3e41;
    background-color:#181a1b;
  }
  .dates{
    color:#877d6e;
  }
  .News{
    background:#181a1b;
    border-bottom: 1px solid #3e4446;
  }
  .news-banner__content2{
    color:#877d6e;
  }

}


.snow {
  /*雪の色*/
  color: #f0faff;
  /*雪の大きさ*/
  font-size: 10px;
  /*初期位置*/
  position: fixed;
  top: -5%;
  /*雪を適当な幅で降らせる*/
  text-shadow:
  5vw   -100px 2px,
  10vw  -400px 3px,
  20vw  -500px 4px,
  30vw  -580px 1px,
  39vw  -250px 2px,
  42vw  -340px 5px,
  56vw  -150px 2px,
  63vw  -180px 0,
  78vw  -220px 4px,
  86vw  -320px 9px,
  94vw  -170px 7px;
  /*雪アニメーション1*/
  animation: roll 5s linear infinite;
}
  /*2つめの雪アニメーション*/
.snow2nd{animation: anim 8s linear infinite;}

@keyframes roll {
    0% {transform:rotate(0deg);}
   90% {opacity:1;}
   100% {transform:rotate(20deg);top:100%;opacity:0;}
}
@keyframes anim {
  100% {color:transparent;top:150%;}
}
